{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/indexStyle.css' %}" />

{% if latest_question_list %}
  <div class="root">
    <div class="header">
      <div class="logo">
      </div>
      <div class="auth">
      </div>
    </div>
    <div class="banner">
      <span class="banner-text"><h3>Take our surveys!! Win real prizes!</h4></span>
    </div>
    <div class="content">
      <div class="question-container">
        {% for question in latest_question_list %}
          <div class="question">
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer">
    </div>
  </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<script type="text/javascript">
  var data_from_django = {{latest_question_list}}
</script>
